# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Ollama Configuration (Local AI)
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=gemma3:4b

# SMTP Configuration for Email Notifications (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_APP_PASSWORD=your_app_password_here
SMTP_FROM_NAME=FinanceAPI

# API Keys
GECKO_API_KEY=your_coin_gecko_api_key_here
FINNHUB_API_KEY=your_finnhub_api_key_here
EXCHANGE_API_KEY = your_exchange_api_key_here